.sidebar{
    height: 100%;
    width: 78px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 0px;
    transition: all 0.5s ease;
    border-right: 3px solid #FDEBED;
}

.active1{
    width: 240px ;
}

.sidebar .logo_content{
    height: 50px;
    border-bottom: 3px solid #FDEBED;
    padding-bottom: 1rem;
}

.sidebar .logo_content .logo{
    display: flex;
    height: 45px;
    margin-left: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: all 0.25s ease;
    
}

.active1 .logo_content .logo{
    opacity: 1 ;
    pointer-events: none;
}

.sidebar .logo_content i{
    position: absolute;
    left: 65%;
    top: 1.5rem;
    height: 50px;
    width: 50px;
    color: black;
    font-size: 1.75rem;
    transform: translateX(-50%);
    transition: all 0.25s ease;
}

.sidebar .logo_content i:hover{
    color:gold;
    cursor: pointer;
}

.active1 .logo_content svg{
    left: 90%;
}


.sidebar ul {
    margin-top: 2rem;
    margin-left: -1rem !important;
    padding-left: 1rem;
}


.sidebar ul li{
    position: relative;
    height: 50px;
    line-height: 50px;
    width: 100%;
    list-style: none;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 140px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background-color: #fff;
    line-height: 25px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: none;
    z-index: 9;
    
}
.active1 ul li .tooltip{
    display: none;

}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
}

.sidebar ul li a{
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    align-items: center;
    border-radius: 12px;
    padding: 0 1.25rem;
    margin: 0 0.5rem;
    white-space: nowrap;
    
}
.active1 ul li a{
    gap: 1rem;
    padding: 0 1rem;
    margin: 0 1rem;
}

.sidebar ul li a:hover{
    transition: all 0.5s ease;
    background: #937DC2;
    color: white;
    opacity: 0.8;
}

.sidebar ul li a.active{
    transition: all 0.5s ease;
    background: #937DC2;
    color: white;
    margin-left: 0.5rem !important;
}

.sidebar ul li a.active:hover{
    transition: all 0.5s ease;
    background: #a8dbf1;
    color:rgb(238, 218, 103);
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}

.active1 .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .logo-out{
    position: absolute;
    bottom: calc(100% - 90%);
    height: 50px;
    width: 100%;
    
    
}
.sidebar .logo-out a i{
    margin-left: 1.25rem;
    line-height: 50px;
    height: 50px;
    transition: all 0.5s ease;
    
}
.active1 .logo-out a i{
    line-height: 50px;
    margin-left: 2.5rem;
}


.sidebar .logo-out a:hover{
    transition: 0.5s ease;
    color: white;
    background: #937DC2;
}

.sidebar .logo-out {
    text-decoration: none;
    display: flex;
    color: #fff;
    margin: 0 0.25rem;
    gap: 1rem;
    font-size: 1rem;
    /* background-color: transparent; */
    width: 90%;
    align-items: center;
    border-radius: 1rem;
    transition: all 0.5s ease;
    margin: 0 0.25rem !important;
}

.active1 .logo-out {
    margin: 0 60px !important;
}
.logo img {
    width: 60px;
    height: 50px;
}

body:has(input[name="changeTheme"]:checked) {
    background-image: linear-gradient(
        to top, #1a1f39, black
    );
    color: white;
}
body:has(input[name="changeTheme"]:checked) .sidebar{
  background-color: black;
}
body:has(input[name="changeTheme"]:checked) .sidebar .logo_content i{
    color: white;
}
body:has(input[name="changeTheme"]:checked) .sidebar ul li a{
    color: white;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }