.table_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    margin-top: 10px;
    .table {
        
    width: 700px;
    .thead-dark {
        background-color: black;
        color: white;
    }
    }
    button {
        width: 80%;
        height: 40px;
        border-radius: 40px;
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
        margin-left: 10%;
        margin-top: 10px;
    }
    button:hover {
    background-color: greenyellow;
    }
}
body:has(input[name="changeTheme"]:checked) tbody td{
    color: white;
}

