.about {
    width: 100%;
    padding: 78px 0;
    .main {
        width: 1130px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
        height: auto;
        width: 420px;
        }
        .about-text {
            width: 550px;
            h1 {
                color: white;
                font-size: 80px;
                text-transform: capitalize;
                margin-bottom: 20px;
            }
            h5 {
                color: white;
                font-size: 25px;
                text-transform: capitalize;
                margin-bottom: 25px;
                letter-spacing: 2px;
            }
            p {
                color: rgb(111, 109, 109);
                letter-spacing: 1px;
                line-height: 28px;
                font-size: 18px;
                margin-bottom: 45px;
            }
        }
        }

}