.chat_container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    
  }
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    .chat_container {
      grid-template-columns: 35% 65%;
    }
  }
