.welcome_container {
display: flex;
justify-content: center;
align-items: center;
color: black;
flex-direction: column;
}
img {
  height: 20rem;
}
body:has(input[name="changeTheme"]:checked) .welcome_container {
  color: white;
}