@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kaushan+Script&display=swap');
.contact_container {
    display: grid;
  grid-template-rows: 10% 75% 15%;
  background-color: transparent;
}
.contact_container img {
    height: 2rem;
    display: inline-block;
    margin-right: 10px;
  }
  .contact_container  h4 {
    color: black;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Kaushan Script', cursive;

  }
  .contact_container .brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact_container .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 0.8rem;
  }
  .contact_container .contacts::-webkit-scrollbar {
    width: 0.2rem;
  }
  .contact_container .contacts-thumb {
    background-color: #ffffff39;
    width: 0.1rem;
    border-radius: 1rem;
  }
  .contacts .contact {
    background-color: #ffffff34;
      min-height: 5rem;
      cursor: pointer;
      width: 100%;
      border-radius: 0.2rem;
      display: flex;
      align-items: center;
      transition: 0.5s ease-in-out;
      overflow-y: auto;
  }
  .contacts .avatar img {
    height: 3rem;
    clip-path: circle(50%);
  }
  .contacts .username {
    color: black;
  }
  .contacts .selected {
    background-color: #9a86f3;
  }
  .current-user {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .current-user .avatar img {
    clip-path: circle(50%);
  }
  .current-user .username h2 {
    color: black;
    font-size: 2rem;
  }
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    .contact_container .contacts {
        gap: 0.5rem;
    }
    .username h2 {
        font-size: 1rem;
    }
  }
  body:has(input[name="changeTheme"]:checked) .contact .username {
    color: white;
  }
  body:has(input[name="changeTheme"]:checked) .current-user .username h2 {
    color: white;
  }
  body:has(input[name="changeTheme"]:checked) .contact_container .brand h4 {
    color: white;
  } 
.contacts .AI {
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 13rem;
  position: absolute;
  text-shadow: -15px 5px 20px #ced0d3;
  top: 25%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #F9f1cc;
  text-shadow: 5px 5px 0px #FFB650, 
    10px 10px 0px #FFD662, 
    15px 15px 0px  #FF80BF, 
    20px 20px 0px #EF5097, 
    25px 25px 0px #6868AC, 
    30px 30px 0px #90B1E0;
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  .contacts .AI {
    font-size: 7rem;
    top: 30%;
  }
}