@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kaushan+Script&display=swap');
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    .bill_container {
      position: relative;
      width: 400px;
      height: 650px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      backdrop-filter: blur(500px);
      h2 {
        font-size: 2em;
        color: black;
        text-align: center;
        font-family: 'Kaushan Script', cursive;
      }
      img {
        width: 120px;
        height: 100px;
        margin: 0 60px;
      }
      .inputbox {
        position: relative;
        margin: 30px 0;
        width: 90%;
        border-bottom: 2px solid #fff;
        margin-left: 20px;
        label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          color: black;
          font-size: 1em;
          pointer-events: none;
          transition: .5s;
        }
        input {
          width: 100%;
          height: 50px;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1em;
          padding:  0 35px 0 5px;
          color: #fff
        }
        input:focus ~ label, 
        input:valid ~ label {
          top: -5px
        }
        i {
          position: absolute;
          right: 8px;
          color: black;
          font-size: 1.2em;
          top: 20px;
        }
      }
      button {
        width: 80%;
        height: 40px;
        border-radius: 40px;
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
        margin-left: 10%;
        margin-top: 10px;
      }
      button:hover {
        background-color: greenyellow;
      }
    }
  }