.container {}

.swipe {
  position: absolute;
  margin-top: 50%;
}

.cardContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.card {
  width: 360px;
  max-width: 460px;
  height: fit-content;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
}

.card .image {
  width: 100%;
  height: 200px;
}

.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .info {
  margin: 10px 0;
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: column;
}

.card .info span:nth-child(n+2) {
  font-size: 14px;
  color: gray;
}

.card .description {
  height: 150px;
  overflow-y: auto;
}

.card .buttons {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}


.card .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #c3c4d3;
  font-size: 24px;
  border: none;
}

.card .buttons .fa-remove {
  color: red;
}


.card .buttons .fa-heart {
  color: green;

}

body:has(input[name="changeTheme"]:checked) .description{
  color: black;
}
@keyframes popup {
  0% {
    transform: scale(1, 1)
  }

  10% {
    transform: scale(1.1, 1.1)
  }

  30% {
    transform: scale(.9, .9)
  }

  50% {
    transform: scale(1, 1)
  }

  57% {
    transform: scale(1, 1)
  }

  64% {
    transform: scale(1, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}
@media only screen and (min-width: 700px) and (max-width: 1100px) {
  .card {
    margin-top: 300px;
    width: 360px;
  }
}
@media only screen and (min-width: 280px) and (max-width: 700px) {
  .card {
    margin-top: 500px;
    width: 300px;
  }
}