.card-text, .card-title {
  width: 100%;
}
body:has(input[name="changeTheme"]:checked) .cardContainer > .card{
    background-image: linear-gradient(
        to top, #1a1f39, black
    );
    color: white;
}
@media only screen and (min-width: 700px) and (max-width: 1100px) {
    .cardContainer > .card {
      margin-top: 0px;
    }
  }